.env
.env.*
.git
.github
.gitignore
.venv
venv/
env/

.idea
.vscode
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

.pytest_cache/
.mypy_cache/
htmlcov/
.coverage
*.cover

tests/
docs/
logs/
media/
tmp/
staticfiles/
db.sqlite3
db.sqlite3-journal

img.png
img_1.png

docker-compose.yml
docker-compose.*.yml
