Django>=5.0
djangorestframework
drf-spectacular
psycopg2-binary
django-cors-headers
Pillow>=10.0
gunicorn>=21.2
djangorestframework-simplejwt
pytest-django>=4.8
pytest-mock>=3.12
pytest
six>=1.16
cloudinary>=1.36
django-cloudinary-storage>=0.3
